<a href="https://colab.research.google.com/github/sseydaltin/makine/blob/main/veriseti1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Veri Setini Ä°nceleme**

In [ ]:
import pandas as pd
path = '/penguins.csv'
penguins_df = pd.read_csv(path)

In [ ]:
display(penguins_df)

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [ ]:
display(penguins_df.tail())

,id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
339,339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [ ]:
display(penguins_df.shape)

(344, 9)

In [ ]:
display(penguins_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

None

# **Eksik DeÄer Analizi**

In [ ]:
display(penguins_df.isnull().sum())

id                    0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

# **Kategorik Veriyi SayÄ±sallaÅtÄ±rma (Encoding)**

In [ ]:
import pandas as pd

df = pd.read_csv("/penguins.csv")
df['sex']= df['sex'].map({'male':1,'female':0})
print(df.head())

   id species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0   0  Adelie  Torgersen            39.1           18.7              181.0
1   1  Adelie  Torgersen            39.5           17.4              186.0
2   2  Adelie  Torgersen            40.3           18.0              195.0
3   3  Adelie  Torgersen             NaN            NaN                NaN
4   4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g  sex  year
0       3750.0  1.0  2007
1       3800.0  0.0  2007
2       3250.0  0.0  2007
3          NaN  NaN  2007
4       3450.0  0.0  2007

# **Eksik DeÄerleri Doldurma**

In [ ]:
import pandas as pd

# Veriyi yÃ¼kle
df = pd.read_csv("/penguins.csv")

# SayÄ±sal sÃ¼tunlar iÃ§in eksik deÄerleri ortalama (mean) ile doldur
numeric_cols = df.select_dtypes(include=["float64", "int64"]).columns
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].mean())

# Kategorik sÃ¼tunlar iÃ§in eksik deÄerleri mod (en sÄ±k gÃ¶rÃ¼len deÄer) ile doldur
categorical_cols = df.select_dtypes(include=["object"]).columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])
print(df.head())

   id species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0   0  Adelie  Torgersen        39.10000       18.70000         181.000000
1   1  Adelie  Torgersen        39.50000       17.40000         186.000000
2   2  Adelie  Torgersen        40.30000       18.00000         195.000000
3   3  Adelie  Torgersen        43.92193       17.15117         200.915205
4   4  Adelie  Torgersen        36.70000       19.30000         193.000000

   body_mass_g     sex  year
0  3750.000000    male  2007
1  3800.000000  female  2007
2  3250.000000  female  2007
3  4201.754386    male  2007
4  3450.000000  female  2007

# **Veri Setini EÄitim ve Test Olarak AyÄ±rma**

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Hedef deÄiÅken (label) ve Ã¶zellikleri (features) belirleme
X = df.drop(columns=["species"])  # Ãzellikler
y = df["species"]  # Hedef deÄiÅken

# Veriyi %80 eÄitim, %20 test olarak ayÄ±rma
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# **EÄitim ve Test Setinin BoyutlarÄ±nÄ± KontrolÃ¼ Ve Ekrana YazdÄ±rma**

In [ ]:
print("EÄitim seti boyutu:", X_train.shape[0])
print("Test seti boyutu:", X_test.shape[0])
print("\nEÄitim verisinin ilk 5 satÄ±rÄ±:")
print(X_train.head())
print("\nTest verisinin ilk 5 satÄ±rÄ±:")
print(X_test.head())

EÄitim seti boyutu: 275
Test seti boyutu: 69

EÄitim verisinin ilk 5 satÄ±rÄ±:
      id     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
98    98      Dream            33.1           16.1              178.0
114  114     Biscoe            39.6           20.7              191.0
118  118  Torgersen            35.7           17.0              189.0
235  235     Biscoe            50.0           15.9              224.0
275  275     Biscoe            49.9           16.1              213.0

     body_mass_g     sex  year
98        2900.0  female  2008
114       3900.0  female  2009
118       3350.0  female  2009
235       5350.0    male  2009
275       5400.0    male  2009

Test verisinin ilk 5 satÄ±rÄ±:
      id     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
151  151      Dream            41.5           18.5              201.0
1      1  Torgersen            39.5           17.4              186.0
226  226     Biscoe            46.4           15.0              216.0
269  269     Biscoe            48.8           16.2              222.0
282  282      Dream            46.1           18.2              178.0

     body_mass_g     sex  year
151       4000.0    male  2009
1         3800.0  female  2007
226       4700.0  female  2008
269       6000.0    male  2009
282       3250.0  female  2007